agm-map {
    height: 300px; /* height is required */ 
}


#liveframe {
    width: 560px;
    height: 315px;
    //remove border, padding, margin
    border: none;
    padding: 0;
    margin: 0;
  }

  .ios #liveframe {
    height: auto;
    //set the width to 100% of the viewport width
    width: 100vw; 
    //remove border, padding, margin
    border: none;
    padding: 0;
    margin: 0;
  }