<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>profile</ion-title>
    

    
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-item [routerDirection]="'root'" [routerLink]="[p.url]"> -->
    <ion-button [routerLink]="['/editprofile']" routerDirection="forward" >
      Go forward
    </ion-button>

    <ion-button color="primary" (click) ="logout()">logout</ion-button>

    <ion-button color="primary" (click) ="linkFb()" *ngIf="!fbLinked">linkFacebook</ion-button>
    <ion-button color="primary" *ngIf="fbLinked" [disabled]="true">Facebook Linked!</ion-button>

    <ion-button color="primary" (click) ="get()">get</ion-button>

    <ion-button color="primary" (click) ="testShare()">testShare</ion-button>

    <ion-button color="primary" (click) ="testHttp()">testHttp</ion-button>
<!-- {{user | json}} -->



<ion-button color="primary" (click) ="testupdate()">testupdate</ion-button>
<!-- <input placeholder="{{item.last}}" [(ngModel)]="data" > -->

 {{user.uid}}

 <ion-list>
    <ion-item>
      <ion-icon id="male" [name]="gender" slot="start" *ngIf="gender==='male'"></ion-icon>
      <ion-icon id="female" [name]="gender" slot="start" *ngIf="gender==='female'"></ion-icon>
  
      <div class="item-note" slot="end">
        {{(gamer | async)?.displayName}}
      </div>
    </ion-item>
    <ion-item>
      Email:
      <div class="item-note" slot="end">
        {{(gamer | async)?.email}}
      </div>
    </ion-item>
    <ion-item>
      City:
      <div class="item-note" slot="end">
        {{(gamer | async)?.city}}
      </div>
    </ion-item>
  </ion-list>
  




 <ion-card>
  <ion-card-header>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    <ion-card-title>Card Title</ion-card-title>
    
  </ion-card-header>

  <ion-card-content>
    Keep close to Nature's heart... and break clear away, once in awhile,
    and climb a mountain or spend a week in the woods. Wash your spirit clean.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <!-- <ion-label>ion-item in a card, icon left, button right</ion-label> -->
    <ion-card-title>Card Title</ion-card-title>
    <ion-button color="danger" fill="outline" slot="end" >
      Live
      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
    </ion-button>

  </ion-item>

  <ion-card-content>
    <!-- <ion-textarea [(ngModel)]="cardContent" disabled="isEdit"></ion-textarea> -->
  This is content, without any paragraph or header tags,
    within an ion-card-content element.
    
  </ion-card-content>
  <iframe id = "liveframe"  [src] ='channelURL' frameborder="0" allowfullscreen></iframe>
  
</ion-card>

<ion-card>
  <ion-item href="#" class="activated">
    <ion-icon name="wifi" slot="start"></ion-icon>
    <ion-label>Card Link Item 1 .activated</ion-label>
  </ion-item>

  <ion-item href="#">
    <ion-icon name="wine" slot="start"></ion-icon>
    <ion-label>Card Link Item 2</ion-label>
  </ion-item>

  <ion-item class="activated">
    <ion-icon name="warning" slot="start"></ion-icon>
    <ion-label>Card Button Item 1 .activated</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="walk" slot="start"></ion-icon>
    <ion-label>Card Button Item 2</ion-label>
  </ion-item>
</ion-card>







</ion-content>
