<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Editprofile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  
<ion-list>
  <ion-item>
    <ion-label position="stacked">Display Name</ion-label>
    <ion-input clearInput  placeholder="ex. faker" [(ngModel)]="displayName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input clearInput  placeholder="ex. 123@gmail.com" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Phone</ion-label>
    <ion-input clearInput  placeholder="ex. 1234567890" [(ngModel)]="phone"></ion-input>
  </ion-item>
  
</ion-list>


<ion-list>
  <ion-list-header>
    <ion-label>Gender</ion-label>
  </ion-list-header>

  <ion-radio-group (ionChange)="onChangeHandler($event)">
    <ion-item>
      
      <ion-label>Male</ion-label>
      <ion-icon id="male" name="male"></ion-icon>     
      <ion-radio slot="start" value="male" [checked]="gender=='male'"></ion-radio>
    </ion-item>

    <ion-item>
      
      <ion-label>Female</ion-label>
      <ion-icon id="female" name="female"></ion-icon>
      <ion-radio slot="start" value="female" [checked]="gender=='female'"></ion-radio>
    </ion-item>
  </ion-radio-group>

</ion-list>


  
  <ion-list>
    <ion-list-header>
      <ion-label>Games</ion-label>
    </ion-list-header>

    <ion-item *ngFor="let game of games">
      <ion-label>{{game.name}}</ion-label>
      <ion-checkbox slot="start"  [(ngModel)]="game.isChecked"></ion-checkbox>
    </ion-item>
    
  </ion-list>

<ion-button color="primary" (click) ="update()">update()</ion-button>
<ion-button color="primary" (click) ="updateProfile()">updateProfile</ion-button>

<ion-button color="primary" (click) ="test()">test</ion-button>


</ion-content>
